/*
	Use this css file to define font,size,color, italic, underline, bold
	for each of the following elements
		-body/p, 
		-h1, h2, h3
		-a
		-a:visited
		-table, tr, td, th
		-ol, ul, li
		-hr
*/

/*
	This example is using the following color pallete
	one:	#a68700
	two:	#71a600
	third:	#1ea600
*/

body{
	font-family: helvetica;
	font-size: 12pt;
	color: white;
}

h1{
	font-size: 22pt;
}

h2{
	font-size: 16pt;
	font-style: italic;
	text-decoration: underline;
	margin-left: 1em;
}

h3{
	font-size: 14pt;
	font-style: oblique;
	text-decoration: underline;
	margin-left: 2em;
	margin-bottom: 0em;
}

a{
	color: #71A600;
	font-weight: bold;
}

a:visited{
	color: #a68700;
	font-style: italic;
	font-weight: normal;
}

hr{
	height: 1px;
	border-top: 1px solid black;
}



/*	SPECIFIC SECTIONS	*/
.content_box{
	border: 1px solid black;
}

#title_box h1{
	font-size: 12pt;
}

/*	Menu Bar	*/
#menu_bar div:first-child{
	margin: 0px 0px 0px 15px;
}

#menu_bar{
	background-image: url('images/bg_menu_bar.png');
}

#menu_bar ul li{
	padding: 0px 15px;;
}

#menu_bar ul li:hover{
	background-image: url('images/bg_menu_bar_hover.png');
}

#menu_bar a, #menu_bar a:visited{
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
	color: white;
}

#scroll_area{

}

#sub_menu{

}

#content{

}

#footer{
	color: black;
	font-size: 10pt;
}
