/*
	This css file defines style for the structure and layout of the page.
	Avoid editing this file as it will probably mess up the structure of the page.
	Widths and heights have been set to allow for different amounts of content.
	Put style rules for borders, text styles, background images in another file.
*/
	
body{
	margin: 0px;
	height: 100%;
	text-align: center;		/* for IE	*/
}

#page{
	width: 960px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url('images/bg.jpg');
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	text-align: left;
}

.content_box{
	border: 1px solid black;
	margin-top: 20px;
	margin-left: 20px;
	background-image: url('images/bg_black.png');
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 0px;
}
.content_box div:first-child{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

#title_box{
	width: 275px;
	height: 45px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	padding: 0px;
}

#menu_bar{
	width: 600px;
	height: 45px;
	float: right;
	margin-left: 0px;
	margin-right: 20px;
}

#menu_bar ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#menu_bar ul li{
	float: left;
	height: 45px;
	line-height: 45px;
}

#scroll_area{
 	width: 920px;
 	float: left;
 	height: 150px;
}

#sub_menu{
	width: 275px;
	float: left;
	min-height: 200px;
}

#sub_menu ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#sub_menu ul li{
}

#content{
	width: 625px;
	min-height: 300px;
	float: left;
	margin-bottom: 20px;
}

#footer{
	text-align: center;
	height: 75px;
	width: 950px;
	padding: 5px;
	background-image: url('images/bg_white.png');
	position: relative;
	float: left;
	border-top: 2px groove #888888;
}
